body {
  font-family: 'Courier New', Courier, monospace;
  display: grid;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.card {
  max-width: Min(600px, 80vw);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card_img {
  width: -webkit-fill-available;
  width: -moz-available;
}

.hidden {
  display: none;
}

.errado {
  animation: shake 0.3s;
}

.card_tip {
  color: chocolate;
}
.card_tip:not(.hidden) {
  animation: fadeIn 0.8s ease forwards;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(5px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}